# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

Web/Web.egg-info/
.idea
bin/
develop-eggs/
eggs/
parts/
.installed.cfg


Web/web/static/.webassets-cache
Web/web/static/base.min.css
Web/web/static/base.min.js

Web/web/static/browser.min.css