body {
    margin: 0;
    font-family: arial, sans-serif;
    background: #FCFCFC url(images/bgr.jpg) repeat;
}

.nav-bg {
    background: url(images/bg.jpg) top center;
    background-size: cover;
    height: 100vh;
}

.ui.page.grid.nav {
    margin-bottom: 40vh;
}

.intro {
    color: white;
}

.intro p {
    font-size: 1.2rem;
}

.ui.grid.era {
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

.ui.grid.fn {
    padding-bottom: 3.5rem;
}

.ui.grid.footer {
    padding-top:3.5rem;
    padding-bottom: 3.5rem;
}


@media only screen and (min-width: 767px) {
    .fl-left {
        float: left;
    }

    .fl-right {
        float: right
    }

    .ui.page.grid.nav {
        padding-top: 2rem;
    }
}

@media only screen and (min-width: 767px) {

    .blank-sidebar {
        margin-left: 275px;
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .ui.sidebar.show-sidebar {
        margin-left: 0 !important;
    }

    .ui.steps.nav {
        margin-top: 20px;
    }


}

.ui.menu.mobile-nav {
    margin-top: 0;
    display: none;
}

.close.item {
    text-align: center;
}

.ui.vertical.menu .close.item >i.icon {
    float:none;
}

.ui.menu .item.mobile-only {
    display: none;
}

@media only screen and (max-width: 767px) {

    .blank-sidebar {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .ui.menu.mobile-nav {
        display: block;
    }

    .ui.menu .item.mobile-only {
        display: block;
    }

}